html, body {
 overflow: hidden;
 margin: 0;
 background: black;
 color: cyan;
}

.MatrixConteiner {
 display: block; position: absolute;
 left: 5px; top: 5px;
 width: auto; height: auto;
 min-width: 20px; min-height: 20px;
 padding: 10px;
 background: orange;
 /*text-align: center;*/
 color: black;
}